:root {
    --color-indigo: #A084DC;
    --color-wisteria: #BFACE2;
    --color-thistle: #EBC7E6;
    --color-thistle-l: #fdcef7;
    --color-thistle-d: #dda0d5;
    --color-sblue: #645CBB;
    --color-sblue-l: #7b75be;
    --color-sblue-d: #5047b1;
    --color-white: #fff;
    --color-gray: #F0F0F0
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Regular.ttf");
}

html {
    height: 100%;
}

body {
    background-color: var(--color-indigo);
    height: 100%;
    font-family: Poppins;
}

.bg-indigo {
    background-color: var(--color-indigo);
}

.bg-wisteria {
    background-color: var(--color-wisteria);
}

.bg-thistle {
    background-color: var(--color-thistle);
}

.bg-sblue {
    background-color: var(--color-sblue);
}

.bg-white{
    background-color: var(--color-white);
}

.bg-gray{
    background-color: var(--color-gray);
}

.side-bar * {
    text-decoration: none;
    color: var(--color-white);
}

.logo-text {
    font-weight: bolder;
    font-size: 22px;
    color: var(--color-white);
}

.navigation-link {
    margin-left: 10px;
    font-size: 18px;
    font-weight: lighter;
}

.main-layout *{
    color: var(--color-white);
}

.welcome-text {
    padding: 10px 20px;
    background-color: var(--color-indigo);
    font-weight: bold;
    font-size: 20px;
}

.page-title {
    font-size: 28px;
    font-weight: bold;
    margin: auto;
    color: var(--color-sblue);
}

.filter-label {
    font-size: 20px;
}

.filter-control {
    padding: 5px;
    height: 30px;
    background-color: var(--color-thistle);

}

.filter-control:focus {
    background-color: var(--color-thistle);
    border-color: var(--color-indigo);
    box-shadow: none;
}

.main-layout {
    display: flex;
    flex-flow: column;
    height: 98%;
}

.layout-header {
    flex: 0 1 auto;
}

.layout-row {
    flex: 1 1 auto;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--color-sblue);
    --bs-btn-border-color: var(--color-sblue);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color-sblue-l); 
    --bs-btn-hover-border-color: var(--color-sblue-l);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--color-sblue-d);
    --bs-btn-active-border-color: var(--color-sblue-d);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--color-sblue-l);
    --bs-btn-disabled-border-color: var(--color-sblue-l);
  }

  .btn-thistle {
    --bs-btn-color: #000000;
    --bs-btn-bg: var(--color-thistle);
    --bs-btn-border-color: var(--color-thistle);
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: var(--color-thistle-l); 
    --bs-btn-hover-border-color: var(--color-thistle-l);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--color-thistle-d);
    --bs-btn-active-border-color: var(--color-thistle-d);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--color-thistle-l);
    --bs-btn-disabled-border-color: var(--color-thistle-l);
  }