.menu{
  background-color: #7710ee;
  align-items: center;
  color: #fff;
  padding: 10px 0;
}

.menu-item{
  text-align: start;
  padding: 2px 15px;
  margin: 2px 10px;
  box-shadow: inset 0 0 0 0 #7710ee;
  color: #7710ee;
  border: solid 0 rgb(179, 165, 165);
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out, border .3s ease-in-out;
  border-radius: 5px ;
  text-decoration: none;
  width: 95%;
  height: 95%;
}

.menu-item *{
  margin: 0;
  padding:  0;
}

.menu-item p{
  margin: 0;
  padding: 5px 0;
}
.menu-item:hover {
  box-shadow: inset 160px 0 55px 0 #7710ee;
  color: white;
  border: solid 1px rgb(179, 165, 165);
}

.menu-items-container{
  min-height: 90%;
}

.menu-icon  {
  padding: 0 0 0 20px;
}

.menu-icon button{
  margin: 0px 0 0 0;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  padding: 5px;
}

.logo{
  margin: 50px 0 0 10px !important;
}

main{
  min-height: 95vh;
}

.userinfo{
  text-align: center;
  display: flex;
  align-items: center;
}

.userinfo p{
  margin: auto 0;
}
.menu-container{
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  width: 98%;
}

.btn-signup{
  background-color: #06b114 !important;
}


.btn-login{
  background-color: #14b3be !important;
}

.user-profile-photo img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 15px 10px 20px;
  border: 2px solid #628395;
}

.user-info{
  margin: 0 0 30px 0;
  padding: 10px 5px;
  width: 100.2%;
  background:#262A53;
  border-radius: 0 0 0 55px;
}

.offcanvas{
  border-radius: 0 80px 10px 0;
  background: #fff1f7 !important;
}

.offcanvas-header{
  border-radius: 0 45px 0 0;
  width: 100.2%;
  background: #262A53 !important;
}

.btn-close{
  margin: 0 1px -35px 0 !important;
  filter: brightness(0) invert(1);
}

.loader{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-thistle-l);
}
