body{
    background-color: white;
}

.login-input{
    border: none;
    border-bottom: 1px solid white;
    background-color: var(--color-white);
    border-radius: 0%;
    font-size: 15px;
}

.login-input:focus{
    box-shadow: none;
    border: none;
    background-color: var(--color-white);
    border-radius: 0%;
}
